@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces_9pt_Soft-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fraunces-700", sans-serif;
  src: url("../fonts/Fraunces_9pt_SuperSoft-Bold.ttf");
}
