* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
}
h1 {
  font-size: 2em;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: 600px;
  flex-direction: row;
  border-radius: 20px;
}
img {
  flex: 1 0 50%;
}
